
body {
	background: #1F2833;
}

.animeHeader {
	color:#45A29E;
	text-decoration: none;
	margin-bottom: 10px;
	padding:3px;
}
.link{
	color:#45A29E;
	padding: 3px;
	background-color: white;
}

h2 {
	color:#66FCF1;
}
p{
	color:#66FCF1;
}
.container{
	display:flex;
	justify-content: space-between;
}
.animeListContainer{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.animeList{
	margin:10px 0 10px 0;	
}
.listImg{
    width:  350px;
    height: 350px;
    object-fit: contain;
	/* object-fit: cover; */
}

.animeImg{
    width:  700px;
    height: 700px;
    object-fit: contain;
	margin-bottom:15px;
}
.animeFacts {
	display:flex;
	flex-direction:column;
	align-items: center;
	
}
.info{
	width:80%;
	display:flex;
	flex-direction: column;
	justify-content: center;
}